@charset "UTF-8";

/* versão Mobile First */

* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /* p/ incluir a borda no calculo do tamanho */
}

html {
    
    height: 100vh; /* deixou só H p/ ñ ter rolagem Horizontal*/
}

body {
    background: black url(../imagens/back-phone.jpg) no-repeat; /* esse background aceita tanto colocar a imagem como a cor de fundo */
    background-size: cover; /* p/ img caber na tela inteira*/
    background-position: center center; /*centraliza img*/
  
    
}

main {
    background-color: rgba(255, 255, 255, 0.842);
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 1px 2px 9px rgb(0, 0, 0);
}
/*FAZ COM QUE TODAS AS IMG FIQUEM CENTRALIZADAS*/
img  {
    display: block;
    margin: auto;
}

/* DEIXANDO APENAS A IMG DO ICONE DO CEL*/

img#phone {display: block;} 
img#tablet {display: none;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: none;}


/*TABLET*/
@media screen and(max-width:768px ) {
    body {
        background:black url(../imagens/back-tablet.jpg);
      }  
  
      img#phone {display: none;} 
      img#tablet {display: block;}
      img#print {display: none;}
      img#pc {display: none;}
      img#tv {display: none;}

}





/*DESKTOP*/
@media screen and(min-width:992px)and(max-width:1200px) {

}

/*GRANDES TELAS*/
@media screen and(min-width:1200px)
