@charset "UTF-8";

/*
VERSÃO MOBILE FIRST

*/

* {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    marghtml,in: 0px;
    padding: 0px;
    box-sizing:border-box /*INLCUIR A BORDA NO CALCULO DO TAMANHO*/
}

body {

    
    height: 100vw;
}

body {
    background: black url(../imagens/back-phone.jpg) no-repeat;
    background-size:cover;
    

}

main {
    background-color: rgba(255, 255, 255, 0.644);
    width: 90vw;
    margin: auto; /* deixar centralizado */
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow: 5px 3px 2px black; /* sombreamento */
}

img {
    display: block;
    margin: auto;
}
#phone {display: block;}
#tablet {display: none;}
#print {display: none;}
#tv {display: none;}

